<ul>
  <li>
    <a href="{{ baseurl }}/articles/how-it-works.html"> How it works </a>
  </li>
  <li>
    <a href="{{ baseurl }}/articles/writing-tasks.html"> Writing tasks </a>
    <ul>
      <li>
        <a href="{{ baseurl }}/articles/writing-tasks.html#watching-files"> Watching files </a>
      </li>
      <li>
        <a href="{{ baseurl }}/articles/writing-tasks.html#run"> Run function </a>
      </li>
      <li>
        <a href="{{ baseurl }}/articles/writing-tasks.html#dependencies"> Dependencies </a>
      </li>
      <li>
        <a href="{{ baseurl }}/articles/writing-tasks.html#before-and-after"> Before and after tasks </a>
      </li>
    </ul>
  </li>
</ul>
