
body {
  height: 100%;
  font-family: "PT Serif";
  font-size: 12pt;
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-family: "PT Sans Narrow";
}

code, pre {
  font-family: "Menlo", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 10pt;
}

code {
  border: none;
  background-color: transparent;
  padding: 0px;
  font-weight: bold;
}
pre code {
  font-weight: normal;
}

.noscroll {
  height: 100%;
  overflow-y: hidden;
}

.main {
}

.content {
  position: absolute;
  height: 100%;
  overflow: auto;
  padding-right: 2em;
}
.content h1, h2, h3, h4 {
  margin-top: 20px;
}

.toc {
  position: relative;
  font-family: "PT Serif";
  font-weight: normal;
  margin-top: 20px;
}
.toc ul {
  list-style-type: none;
}
.toc a {
  color: black;
}
.toc a:hover {
  text-decoration: none;
  color: #08c;
}
