<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container noscroll">
      <div class="row main noscroll">
        <div class="toc span3 noscroll">
          {% include toc.html %}
        </div>
        <div class="span9 noscroll">
          <div class="span9 content">
          wut
            <h1>{{ page.title }}</h1>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include scripts.html %}          
  </body>
</html>

<!--

    <div class="container">
      <div class="row main noscroll">
        <div class="toc span3 noscroll">
          {% include toc.html %}
        </div>
        <div class="content span9 noscroll">
          <div class="scroller">
            <h1>{{ page.title }}</h1>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include scripts.html %}          




<html class="no-js" lang="en">
  <head>
  </head>

  <body class="article" itemscope itemtype="http://schema.org/WebPage">
    <div id="main" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
      <div class="article-author-top">
        {% include toc.html %}
      </div>

      <article itemscope itemtype="http://schema.org/CreativeWork">
        <div class="headline-wrap">
          <h1 itemprop="name">{{ page.title }}</h1>
          <h2>{{ page.tagline }}</h2>
        </div>

        <div class="article-wrap" itemprop="text">
          {{ content }}
        </div>

      </article>
    </div>

    <div class="footer-wrap">
      <footer>
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}          

  </body>
</html>
-->
